data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
Residual-Attention-Network/model/__pycache__/attention_module.cpython-38.pyc
Residual-Attention-Network/model/__pycache__/basic_layers.cpython-38.pyc
Residual-Attention-Network/model/__pycache__/residual_attention_network.cpython-38.pyc
Residual-Attention-Network/data/cifar-10-batches-py/cifar-10-python.tar.gz
Residual-Attention-Network/data/cifar-10-batches-py/data_batch_1
Residual-Attention-Network/data/cifar-10-batches-py/data_batch_2
Residual-Attention-Network/data/cifar-10-batches-py/data_batch_3
Residual-Attention-Network/data/cifar-10-batches-py/data_batch_4
Residual-Attention-Network/data/cifar-10-batches-py/data_batch_5
Residual-Attention-Network/data/cifar-10-batches-py/test_batch
Residual-Attention-Network/saved/ResidualAttentionModel_sgd/model_92_sgd_ep1_acc0.4750.pkl
Residual-Attention-Network/saved/ResidualAttentionModel_sgd/model_92_sgd_ep2_acc0.6176.pkl
